:root {
  --sl-color-accent-low: #231e40;
  --sl-color-accent: #6a4dce;
  --sl-color-accent-high: #bac5ff;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c6c8ce;
  --sl-color-gray-3: #a0a4ae;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #1b1d23;

  --sl-color-bg-nav: hsla(var(--sl-color-gray-6), 80%, 20%, 0.5);
  --sl-hue-purple: 258;
  --sl-hue-orange: 39;
  --sl-hue-blue: 224;

  --sl-font: "Inter", sans-serif;
  --sl-font-mono: "SF Mono", monospace;

  --sl-font-system:
    ui-sans-serif, system-ui, "Druk", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --sl-font-system-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --__sl-font: var(--sl-font, var(--sl-font-system)), var(--sl-font-system);
  --__sl-font-mono: var(--sl-font-mono, var(--sl-font-system-mono)), var(--sl-font-system-mono);

  /** Key layout values */
  --sl-nav-height: 5rem;
  --sl-nav-pad-x: 1.25rem;
  --sl-mobile-toc-height: 3rem;
  --sl-content-pad-x: 2rem;
  --sl-content-width: 55rem;
  --sl-sidebar-width: 18rem;

  /* Text size and line height */
  --sl-text-2xs: 0.75rem;
  --sl-text-xs: 0.8125rem;
  --sl-text-sm: 0.875rem;
  --sl-text-base: 1rem;
  --sl-text-lg: 1.125rem;
  --sl-text-xl: 1.25rem;
  --sl-text-2xl: 1.85rem;
  --sl-text-3xl: 2.25rem;
  --sl-text-4xl: 3.4rem;
  --sl-text-5xl: 6.6rem;
  --sl-text-6xl: 7rem;

  /* Primary Colors from Design Guide */
  --color-cloud: #040723;
  --color-ink: #dee0f8;
  --color-purple: #957de8;
  --color-green: #c8e800;
  --text-muted: #64748b;

  --grad-accent: linear-gradient(145deg, rgba(78, 33, 203, 0.1) -10%, rgba(205, 236, 15, 0.035) 125%);
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #d5d2f5;
  --sl-color-accent: #8158f5;
  --sl-color-accent-high: #242277;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;

  /* Primary Colors from Design Guide */
  --color-cloud: #fefeff;
  --color-ink: #040723;

  --grad-accent: linear-gradient(135deg, rgba(92, 49, 211, 0.04) 1%, rgba(188, 218, 26, 0.05) 110%);
}
