@font-face {
    font-family: "Druk";
    src: url("./DrukLCG-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "Druk";
    src: url("./DrukLCG-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: optional;
}

@font-face {
    font-family: "Druk";
    src: url("./DrukLCG-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "Druk";
    src: url("./DrukLCG-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: optional;
}

@font-face {
    font-family: "Druk";
    src: url("./DrukLCG-Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "Druk";
    src: url("./DrukLCG-HeavyItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
    font-display: optional;
}

@font-face {
    font-family: "Druk Wide";
    src: url("./DrukWideLCG-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "Druk Wide";
    src: url("./DrukWideLCG-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: optional;
}

@font-face {
    font-family: "Druk Wide LCG";
    src: url("./DrukWideLCG-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "Druk Wide LCG";
    src: url("./DrukWideLCG-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: optional;
}

@font-face {
    font-family: "Druk Wide LCG";
    src: url("./DrukWideLCG-Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "Druk Wide LCG";
    src: url("./DrukWideLCG-HeavyItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
    font-display: optional;
}