VITE_DAEMON_JRPC_ADDRESS=http://localhost:9000

# If not set, the wallet daemon will not support walletconnect
#VITE_WALLET_CONNECT_PROJECT_ID=
# WebAuthn relying party ID. If not set, WebAuthn will use window.location.hostname
#VITE_DAEMON_WEBAUTHN_RP_ID=
# Show tools that are not yet/ever meant for production use
#VITE_ALPHA_FEATURES=manifest,flowEditor